In [1]:
import datetime
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from datetime import date

In [2]:
from mod_my_utils.read_write_data import *
from mod_backtest_utils.backtest_roc import ROCStrategy

In [3]:
folder_path = 'data/'
stock_name = 'AAPL'
index_col = 'Date'

In [4]:
stock_data = get_price_csv(folder_name=folder_path,symbol=stock_name, index_col=index_col)

stock name:  AAPL

In [5]:
data = stock_data[["Adj. Close"]].copy()
data.columns = ["price"]
data.head()

                price
Date
2007-12-03  22.986003
2007-12-04  23.108091
2007-12-05  23.839335
2007-12-06  24.411582
2007-12-07  24.970258

In [6]:
### Strategy

In [8]:
symbol = 'AAPL'
buy_threshold = -0.2
sell_threshold = 0.2
period = 12
roc = ROCStrategy(symbol= symbol, bars= data, period= period, buy_threshold=buy_threshold, sell_threshold=sell_threshold)

In [9]:
roc.generate_signals()

                 price  buy_sell
Date
2007-12-03   22.986003       NaN
2007-12-04   23.108091       0.0
2007-12-05   23.839335       0.0
2007-12-06   24.411582       0.0
2007-12-07   24.970258       0.0
...                ...       ...
2017-11-27  174.090000       0.0
2017-11-28  173.070000       0.0
2017-11-29  169.480000       0.0
2017-11-30  171.850000       0.0
2017-12-01  171.050000       0.0

[2517 rows x 2 columns]